body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: url("../images/ananas.jpg") center no-repeat;
    background-attachment: fixed;
   
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
/*Container*/
.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: hidden;
    
  
}

/*Intro*/
.intro{
    width: 80%;
    height: 100vh;   
    -webkit-background-size: cover;
    background-size: cover;
    
}


/*Header*/
.header{
    width: 100%;        
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #5b7c4c;

}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}
.header_logo{
    font-size: 30px;
    font-weight: 500;
    color:#5b7c4c;
}   

/*Nav*/
.nav{
 font-size: 14px;
 text-transform: uppercase;
  
}


.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0  10px;
    color:#5b7c4c;
    text-decoration: none;

    position: relative;

    transition: color .1s linear;
}

.nav_link::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0;

    background-color: #f79b1a ;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity .1s linear; 
}
.cart_active{
    color: #f79b1a;       
    
}
.favorite_active{
    color: #f79b1a; 
}
.nav_link:hover::after{
    opacity: 1;
}
.nav_link:hover {
    color:#f79b1a;
}

/*body*/
/*Image*/

.products{
    list-style: none;
	margin: 80px 15px;
	padding: 0;

}

.product_wrapper{
    display: block;	
	float: left;
    transition: width .2s;   
    width: 290px; 
    
}

.product_card{
    padding: 10px 10px 5px 10px;
    border: 1px solid #5b7c4c ;
    background: white;    
    transition: .2s linear;   
    height: 360px;
    margin: 0 20px 20px 0;
}

.product_card:hover{
    box-shadow: 0 0 5px 1px #f79b1a;
    border-color:#f79b1a;

}
.product_image{
    transition: 1s ease-in-out;     
}
#product_img{    
    height: 120px;
}

.image_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Product list*/
.product_info{
    margin-top: 15px;
}
.product_info h3{
    font-weight: bold;
    color: #333;
    margin: 0;   
    font-size: 18px;
    line-height: 2; 
}
.product_description{   
    margin-top: 0 auto;
    line-height: auto;
    margin-left: 5px; 
    padding-left: 5px;
    list-style-type: none;
    font-size: 12px;     
    
}
#info {
    display: block;
}
.product_description span{
    font-weight: bold;
    
}
.sum_box_card{
    position: relative;
    width: 100%;    
    margin-top: 10px;
    display: none;    
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
    color: black;
    background-color: #eee;
}
.input_sum{
    color:#333;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 100px;
    border: none;
    background-color: #eee;
    
}
.rub_char{
    color:#333;
}
.price{  
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 18px;
}
.price .rub{
    font-size: 25px;
    font-weight: bold;
}
.price .cop{
    font-weight: bold;
}
.price .rub_kg{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    color: rgb(109, 109, 109)
}


.buttons_box{
   
    margin-left: 0;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid #eee;

   
}
.buttons_box button{
    width: 35px;
    height: 35px;
    margin: 8px 10px;
    padding: 0; 
    border: 0; 
    outline: none; 
    background-color: transparent;
  
 
}
.favorite_button{
    background-size: cover;   
    background-image: url("../images/heart-shape.png");
    background-repeat: no-repeat;      
    
}

.favorite_button_active{
    background-image: url("../images/red-heart-shape.png");
}
.favorite_button:hover{
   /* background-image: url("../images/red-heart-shape.png");*/
    transform: scale(1.15);  
   
}
.cart_button{
    
    background-size: cover;   
    background-image: url("../images/shopping-cart.png") ;
    background-repeat: no-repeat;  
    display: block;
    
   
}
.cart_button:hover{
    
    background-image: url("../images/red-shopping-cart.png") ;
    transform: scale(1.15);
   
    
}
.count_box{    
    justify-content: space-between;
    align-items: center;
    height: 50px;
    display: none;   
}
.plus_button{
    background-size: cover;   
    background-image: url("../images/plus\ \(2b\).png") ;
    background-repeat: no-repeat; 
    border-radius: 20px;
    
}


.plus_button:hover{
    background-image: url("../images/redplus\(2b\).png");
    transform: scale(1.15);
    box-shadow: 0px 0px 5px 0 rgba(89, 90, 90, 0.3);
}
.minus_button{
    background-size: cover;
    background-image: url("../images/balckMinus.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    
}
.minus_button:hover{
    background-image: url("../images/redMinus.png");
    transform: scale(1.15);
    box-shadow: 0px 0px 5px 0 rgba(89, 90, 90, 0.3);
}

.input_count{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 25px;
    border: none;
    
    
}

/*Корзина*/
.cart_container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid #5b7c4c;
    height: 100%;
    width: 345px;
    background-color: #eee;
    justify-content: flex-start;
    align-content: center;
    
}
.cart_info_wrapper{  
    margin-top: 80px;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #5b7c4c;  
    font-size: 20px;
    color: 333;
    text-align: center;
    
}
.cart_empty{
    display: none;
}
.cart_products{
    border:1px solid red;
}

/*Попап пункта шапки "КОНТАКТЫ"*/

.modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}
.modal::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
.modal--show{
    display: none;
}
.modal__content{
    
  position: absolute;
  width: 300px;
  height: 300px;
  margin: -125px 0 0 -125px;
   top: 50%;
    left: 50%;
  background-color: #ffffff;
  box-shadow: -1px 5px 12px 0 rgba(89, 90, 90, 0.3);
  z-index: 3;
}
/*.visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}*/

